/* & Global */
/*& ----------------------------------------------- */

@import url("https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@500;700;900&display=swap");

:root {
  /* Primary */
  --pale-blue: hsl(225, 100%, 94%);
  --bright-blue: hsl(245, 75%, 52%);
  /* Neutral */
  --very-pale-blue: hsl(225, 100%, 98%);
  --desaturated-blue: hsl(224, 23%, 55%);
  --dark-blue: hsl(223, 47%, 23%);
  /* Font weight */
  --fw500: 500;
  --fw700: 700;
  --fw900: 900;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--pale-blue);
  background-image: url("/images/pattern-background-mobile.svg");
  background-repeat: no-repeat;
  background-size: contain;
  font-family: "Red Hat Display", Arial, sans-serif;
  font-size: 1em;
  font-weight: var(--fw500);
  line-height: 1.8;
  text-align: center;
}

.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  padding: 2em;
}

/* & Card */
/*& ----------------------------------------------- */

.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 21.25em;
  overflow: hidden;
}

.illustration {
  border-radius: 1em 1em 0 0;
}

.summary {
  background-color: #fff;
  border-radius: 0 0 1em 1em;
  padding: 1.25em;
}

.title {
  color: var(--dark-blue);
  font-size: 1.25em;
  font-weight: var(--fw900);
  margin: 1em 0 0;
}

.description {
  color: var(--desaturated-blue);
  padding: 1em;
  margin-bottom: 1em;
}

.pricing {
  background-color: var(--very-pale-blue);
  border-radius: 0.625em;
  font-size: 0.8125em;
  display: flex;
  align-items: center;
  margin-bottom: 1em;
  padding: 1em;
}

.icon {
  display: flex;
}

.plan,
.link {
  font-weight: var(--fw900);
}

.details {
  margin-left: 1em;
}

.plan {
  color: var(--dark-blue);
}

.price {
  color: var(--desaturated-blue);
}

.link {
  flex: 1;
  text-align: right;
}

.link a,
.link a:visited {
  color: var(--bright-blue);
  cursor: pointer;
}

.link a:hover {
  opacity: 75%;
  text-decoration: none;
}

.payment-btn,
.cancel-btn {
  font-family: "Red Hat Display", Arial, sans-serif;
  font-weight: var(--fw700);
  padding: 1em;
  width: 100%;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}

.payment-btn {
  background-color: var(--bright-blue);
  border: none;
  border-radius: 0.625em;
  box-shadow: 0.5em 1em 1.25em -0.5em var(--desaturated-blue);
  color: #fff;
  margin: 1em 0;
}

.payment-btn:hover {
  opacity: 75%;
}

.cancel-btn {
  background-color: transparent;
  border: none;
  color: var(--desaturated-blue);
}

.cancel-btn:hover {
  color: var(--dark-blue);
  font-weight: var(--fw900);
}

/* & Infos */
/*& ----------------------------------------------- */

.attribution {
  font-size: 0.6875;
  text-align: center;
  margin-top: 1em;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}

/* & Media queries */
/*& ----------------------------------------------- */

@media (min-width: 1440px) {
  body {
    background-image: url("/images/pattern-background-desktop.svg");
    background-attachment: fixed;
  }

  .card {
    width: 28.125em;
  }

  .summary {
    padding: 1.25em 2.1875em;
  }

  .title {
    font-size: 1.5625em;
    margin: 1em 0 0;
  }

  .description {
    margin-bottom: 0;
  }
}
